body {
	padding-top: 50px;
}
.content-main {
	padding: 40px 15px;
}
.custom-navbar {
	box-shadow: 0px 5px 25px #131313;
}
.table-custom {
	box-shadow:0px 0px 25px #131313;
	-moz-box-shadow:0px 0px 25px #131313;
	-webkit-box-shadow:0px 0px 25px #131313;
}
h1.page-title {
	color: #FF3399;
}